<div class="register-container">
  <h4 class="register__title">הרשמה באמצעות אימייל</h4>

  <form class="register__form">
    <div class="form-input">
        <label for="">:שם פרטי, או כינוי</label>
        <input type="text" />
    </div>

    <div class="form-input">
        <label for="">:אימייל</label>
        <input type="text" />
    </div>

    <div class="form-input">
        <label for="">:סיסמה</label>
        <input type="text" />
    </div>

    <div class="form-input">
        <label for="">:סיסמה לוידוא</label>
        <input type="text" />
    </div>

    <div class="form-checkbox">
      <input type="checkbox" />
      <label for="">:אני מסכים/ה לכל 
        <a href="" class="terms">תנאי השימוש</a></label>
    </div>

    <button type="submit">הרשמה</button>
  </form>
</div>
