<div class="modal-wrapper">
  <div class="modal">
    <div class="modal__title">
      <div>בחירת חודש</div>
      <i class="fa-solid fa-xmark"></i>
    </div>

    <form class="modal__form">
      <h2>עבור לחודש לועזי</h2>
      <input type="number" />
      <select>
        <option value="">נובמבר</option>
      </select>
      <button type="submit">הצג</button>
    </form>

    <form class="modal__form">
      <h2>עבור לחודש עברי</h2>
      <input type="number" />
      <select>
        <option value="">אלול</option>
      </select>
      <button type="submit">הצג</button>
    </form>

    <form class="modal__form">
      <h2>קפוץ לחג הבא</h2>
      <select>
        <option value="">ראש השנה</option>
      </select>
      <button type="submit">הצג</button>
    </form>
  </div>
</div>
