<div class="modal-wrapper">
  <div class="modal">
    <div class="modal__title">
      <i class="fa-solid fa-xmark" (click)="onCloseModalButtonClicked()"></i>
      <div>בחירת חודש</div>
    </div>

    <form class="modal__form">
      <h2 class="form__title">עבור לחודש לועזי</h2>
      <input type="text" />
      <select>
        <option value="">נובמבר</option>
      </select>
      <button type="submit">הצג</button>
    </form>

    <form class="modal__form">
      <h2 class="form__title">עבור לחודש עברי</h2>
      <input type="text" />
      <select>
        <option value="">אלול</option>
      </select>
      <button type="submit">הצג</button>
    </form>

    <form class="modal__form">
      <h2 class="form__title">קפוץ לחג הבא</h2>
      
      <select>
        <option value="">ראש השנה</option>
      </select>

      <button type="submit" class="holidays-btn">הצג</button>
    </form>
  </div>
</div>
