<div class="current-time-details__mobile">
  <div class="current-time-details__date fs-xxl fw-bold">אוגוסט 2025</div>
  <div class="current-time-details__date fs-md">אב - אלול ה'תשפ"ה</div>
  <div class="current-time-details__mobile-subtitle">
    הזמנים עבור: תל אביב
    <span class="mobile-subtitle__config-link">הגדרות</span>
  </div>
</div>

<div class="current-time-details__main">
  <div class="general-buttons">
    <button class="panel-btn fs-xs">
      <img src="assets/images/time-navigation/printer.png" alt="מדפסת" />
      הדפסה
    </button>

    <button class="panel-btn fs-xs" id="status-btn">
      :הזמנים עבור
      <div class="fw-bold fs-md">תל אביב</div>
      <div>הגדרות</div>
    </button>
  </div>

  <div class="time-navigation-buttons">
    <button class="time-navigation__btn btn-hover-effect">
      <div>
        <div class="btn-title">לחודש הנוכחי</div>
        <div class="btn-value">אוגוסט</div>
      </div>
    </button>

    <button class="time-navigation__btn">
      <img
        class="navigation-arrows"
        src="assets/images/time-navigation/arrow-year-right.png"
        alt=""
      />
      <div class="btn-value">2024</div>
    </button>

    <button class="time-navigation__btn">
      <img
        class="navigation-arrows"
        src="assets/images/time-navigation/arrow-month-right.png"
        alt=""
      />
      <div class="btn-value">יולי</div>
    </button>

    <div class="time-navigation-content">
      <div class="current-time-details__date fw-bold">אוגוסט 2025</div>
      <div class="current-time-details__date fs-sm fw-bold">
        אב - אלול ה'תשפ"ה
      </div>
    </div>

    <button class="time-navigation__btn">
      <img
        class="navigation-arrows"
        src="assets/images/time-navigation/arrow-month-left.png"
        alt=""
      />
      <div class="btn-value">ספטמבר</div>
    </button>

    <button class="time-navigation__btn">
      <img
        class="navigation-arrows"
        src="assets/images/time-navigation/arrow-year-left.png"
        alt=""
      />
      <div class="btn-value">2026</div>
    </button>

    <button class="time-navigation__btn btn-hover-effect">
      <div class="btn-title" (click)="toggleShowCustomNaigationModal()">קפיצה בזמן</div>
    </button>
  </div>

  <div class="language-mode-buttons">
    <button
      class="panel-btn"
      [ngClass]="{ 'curr-language-btn': !isEnglishMode }"
    >
      מצב עברי
    </button>
    <button
      class="panel-btn"
      [ngClass]="{ 'curr-language-btn': isEnglishMode }"
    >
      מצב לועזי
    </button>
  </div>
</div>

<app-custom-navigation-modal *ngIf="showCustomNaigationModal"></app-custom-navigation-modal>
