<div class="login-container">
  <div class="external-src-entrance">
    <div class="external-src-entrance__title">כניסה דרך גוגל</div>
    <img src="assets/images/login/Google__G__logo.svg" alt="" />
  </div>

  <div class="email-entrance">
    <div class="email-entrance__title fw-bold">:כניסה באמצעות אימייל</div>

    <form class="email-entrance__form">
      <div class="form-input">
        <label for="">אימייל</label>
        <input type="text" />
      </div>

      <div class="form-input">
        <label for="">סיסמה</label>
        <input type="text" />
      </div>

      <button type="submit">כניסה</button>
    </form>

    <div class="email-entrance__links">
      <a href="">שכחתי סיסמה</a>

      <div class="fw-bold fs-xxxl">?חדש/ה כאן</div>
      <a routerLink="/account/register">הרשם/י עכשיו</a>
    </div>
  </div>
</div>
