<div class="calendar-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let day of daysInWeek">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of daysToDisplayRows">
        <td *ngFor="let day of week">
          <div>{{ day.geoDate.d }}</div>
          <div>{{ day.heDate.d + " " + day.heDate.m }}</div>
          <div>{{ day.specialEvents }}</div>
          <div *ngIf="day.shabbatEvents?.candlesTime">
            {{ day.shabbatEvents.candlesTime | shabbatFormat }}
          </div>
          <div *ngIf="day.shabbatEvents?.havdalaTime">
            {{ day.shabbatEvents.havdalaTime | shabbatFormat }}
          </div>
          <div *ngIf="day.shabbatEvents?.parasha">
            {{ day.shabbatEvents.parasha | shabbatFormat }}
          </div>
          <!-- <input type="text"> -->
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <button (click)="fetchApiTimes">fetch api times</button> -->
</div>
