<div class="current-time-details">
  <div class="current-time-details__date fs-xxl">אוגוסט 2025</div>
  <div class="current-time-details__date">אב - אלול ה'תשפ"ה</div>
  <div class="current-time-details__mobile-subtitle">
    הזמנים עבור: תל אביב
    <span class="mobile-subtitle__config-link">הגדרות</span>
  </div>
</div>

<div class="language-mode-buttons">
  <button class="language-mode__btn">מצב עברי</button>
  <button class="language-mode__btn">מצב לועזי</button>
</div>

<div class="time-navigation-buttons">
  <button class="time-navigation__btn">
    <div>
      <div class="btn-title">לחודש הנוכחי</div>
      <div class="btn-value">אוגוסט</div>
    </div>
  </button>

  <button class="time-navigation__btn">
    <img
      class="navigation-arrows"
      src="assets/images/time-navigation/arrow-year-right.png"
      alt=""
    />
    <div class="btn-value">2024</div>
  </button>

  <button class="time-navigation__btn">
    <img
      class="navigation-arrows"
      src="assets/images/time-navigation/arrow-month-right.png"
      alt=""
    />
    <div class="btn-value">יולי</div>
  </button>

  <div class="time-navigation-content">
    <div class="current-time-details__primary-date">
      placeholder (primary year and month)
    </div>
    <div class="current-time-details__secondary-date">
      placeholder (secondary year and month)
    </div>
  </div>

  <button class="time-navigation__btn">
    <img
      class="navigation-arrows"
      src="assets/images/time-navigation/arrow-month-left.png"
      alt=""
    />
    <div class="btn-value">ספטמבר</div>
  </button>

  <button class="time-navigation__btn">
    <img
      class="navigation-arrows"
      src="assets/images/time-navigation/arrow-year-left.png"
      alt=""
    />
    <div class="btn-value">2026</div>
  </button>

  <button class="time-navigation__btn">
    <div class="btn-title">קפיצה בזמן</div>
  </button>
</div>

<div class="general-buttons">
  <button>
    הזמנים עבור: תל אביב
    <div>הגדרות</div>
  </button>

  <button>
    <img src="printer-img" alt="מדפסת" />
    הדפסה
  </button>
</div>
