<div class="current-time-details">
  <div class="current-time-details__date fs-xxl">
    placeholder (primary year and month)
  </div>
  <div class="current-time-details__date">
    placeholder (secondary year and month)
  </div>
  <div class="current-time-details__mobile-subtitle">
    הזמנים עבור: תל אביב
    <span class="mobile-subtitle__config-link">הגדרות</span>
  </div>
</div>

<div class="language-mode-buttons">
  <button class="language-mode__btn">מצב עברי</button>
  <button class="language-mode__btn">מצב לועזי</button>
</div>

<div class="time-navigation-buttons">
  <button class="time-navigation__btn">
    <div>
      <div class="btn-title">לחודש הנוכחי</div>
      <div class="btn-value">placeholder (current month)</div>
    </div>
  </button>

  <button class="time-navigation__btn">
    <img class="year-navigation-arrows" src="" alt="" />
    <div class="btn-value">placeholder (last year)</div>
  </button>

  <button class="time-navigation__btn">
    <img class="month-navigation-arrows" src="" alt="" />
    <div class="btn-value">placeholder (last month)</div>
  </button>

  <div class="current-time-details__primary-date">
    placeholder (primary year and month)
  </div>
  <div class="current-time-details__secondary-date">
    placeholder (secondary year and month)
  </div>

  <button class="time-navigation__btn">
    <img class="month-navigation-arrows" src="" alt="" />
    <div class="btn-value">placeholder (next month)</div>
  </button>

  <button class="time-navigation__btn">
    <img class="year-navigation-arrows" src="" alt="" />
    <div class="btn-value">placeholder (next year)</div>
  </button>

  <button class="time-navigation__btn">
    <div class="btn-title">קפיצה בזמן</div>
  </button>
</div>

<div class="general-buttons">
  <button>
    הזמנים עבור: תל אביב
    <div>הגדרות</div>
  </button>

  <button>
    <img src="printer-img" alt="מדפסת">
    הדפסה
  </button>
</div>
